TicketClient/xml-resources/web-service-references/BookingFromWSDL/wsdl/localhost_8080/Booking/BookingFromWSDL.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="ticket.hw/Booking" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="User" targetNamespace="ticket.hw/Booking">
  <wsdl:types>
    <xsd:schema targetNamespace="ticket.hw/Booking">
      <xsd:element name="issue">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="bookingnumber" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
	 
      <xsd:element name="issueResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="issueReturn" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
	  
	  <xsd:element name="booking">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="number" type="xsd:int"/>
			<xsd:element name="first" type="xsd:string"/>
			<xsd:element name="second" type="xsd:string"/>
			<xsd:element name="date" type="xsd:string"/>
			<xsd:element name="card" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
	 
      <xsd:element name="bookingResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="bookingReturn" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
	  
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="bookingRequest">
    <wsdl:part element="tns:booking" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="bookingResponse">
    <wsdl:part element="tns:bookingResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="issueRequest">
    <wsdl:part element="tns:issue" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="issueResponse">
    <wsdl:part element="tns:issueResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:portType name="Booking">
    <wsdl:operation name="issue">
      <wsdl:input message="tns:issueRequest"/>
      <wsdl:output message="tns:issueResponse"/>
    </wsdl:operation>
	<wsdl:operation name="booking">
      <wsdl:input message="tns:bookingRequest"/>
      <wsdl:output message="tns:bookingResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="bind" type="tns:Booking">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="issue">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
	<wsdl:operation name="booking">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Booking">
    <wsdl:port binding="tns:bind" name="10010">
      <soap:address location="http://localhost:8080/Booking/BookingFromWSDL"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>