TicketClient/xml-resources/web-service-references/Query/wsdl/localhost_8080/Query/Query.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="ticket.hw/Query" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="ticket.hw/Query" name="Query">
<types>
<xsd:schema>
<xsd:import namespace="ticket.hw/Query" schemaLocation="http://localhost:8080/Query/Query?xsd=1"/>
</xsd:schema>
</types>
<message name="getData">
<part name="parameters" element="tns:getData"/>
</message>
<message name="getDataResponse">
<part name="parameters" element="tns:getDataResponse"/>
</message>
<message name="JDOMException">
<part name="fault" element="tns:JDOMException"/>
</message>
<message name="getRoute">
<part name="parameters" element="tns:getRoute"/>
</message>
<message name="getRouteResponse">
<part name="parameters" element="tns:getRouteResponse"/>
</message>
<portType name="Query">
<operation name="getData">
<input wsam:Action="ticket.hw/Query/Query/getDataRequest" message="tns:getData"/>
<output wsam:Action="ticket.hw/Query/Query/getDataResponse" message="tns:getDataResponse"/>
<fault message="tns:JDOMException" name="JDOMException" wsam:Action="ticket.hw/Query/Query/getData/Fault/JDOMException"/>
</operation>
<operation name="getRoute">
<input wsam:Action="ticket.hw/Query/Query/getRouteRequest" message="tns:getRoute"/>
<output wsam:Action="ticket.hw/Query/Query/getRouteResponse" message="tns:getRouteResponse"/>
<fault message="tns:JDOMException" name="JDOMException" wsam:Action="ticket.hw/Query/Query/getRoute/Fault/JDOMException"/>
</operation>
</portType>
<binding name="10086Binding" type="tns:Query">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JDOMException">
<soap:fault name="JDOMException" use="literal"/>
</fault>
</operation>
<operation name="getRoute">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JDOMException">
<soap:fault name="JDOMException" use="literal"/>
</fault>
</operation>
</binding>
<service name="Query">
<port name="10086" binding="tns:10086Binding">
<soap:address location="http://localhost:8080/Query/Query"/>
</port>
</service>
</definitions>